<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="testboot.php"
         verbose="true">

    <testsuite name="GameOfLife">
        <directory>GameOfLife</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory>../src/GameOfLife</directory>
        </whitelist>
    </filter>

</phpunit>
