<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         verbose="true">

    <filter>
        <whitelist>
            <directory>../src</directory>
            <exclude>
                <file>../src/Ulrichsg/Getopt.php</file>
                <file>../src/GameOfLife/Outputs/Helpers/GIFEncoder.php</file>
            </exclude>
        </whitelist>
    </filter>

</phpunit>